@import "tailwindcss";

:root {
  --background: #ffffff;
}
/* *{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
} */
body {
  background: white;
  font-family: Arial, Helvetica, sans-serif;
}
.glow {
  filter: drop-shadow(0 0 10px currentColor)
          drop-shadow(0 0 22px currentColor);
}

.glass {
  background: linear-gradient(
    135deg,
    rgba(255,255,255,0.35),
    rgba(255,255,255,0.15)
  );
  backdrop-filter: blur(18px);
  border: 1px solid rgba(255,255,255,0.35);
}
::-webkit-scrollbar {
  width: 8px;  
}

::-webkit-scrollbar-track {
  background: #111827; 
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #1f5c35; 
  border-radius: 10px;      
  border: 1px solid #111827; 
}

::-webkit-scrollbar-thumb:hover {
  background-color: #109441; 
}

